server.nohup.out
run_server.pid

__pycache__/
.ipynb_checkpoints/
annot/
.pytest_cache/
*egg-info/
.vscode/
data/

*~
*.swp
*.tmp
*.log
*.local.*

cwn_graph.pyObj
cwn_graph_nodes.json
cwn_graph_edges.json
cwn*.sqlite
log_*.txt
